body {
  padding-top: 6rem;
  color: #5a5a5a;
  background-color: #DDDDDD;
}

#logo{
  font-family: Abril Fatface;
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
}

#search{
  border-radius: 15px;
  width: 300px;
}
.carousel{
  border-radius: 10px;
}
#anhnen{
    font-size: 35px;
}
#footer{
  text-align: center;
  color: #ffffff;
  background-color: #736f6f;
  margin-top: 100px;
}
.featurette-divider {
  margin: 0.5rem 0;
}