<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
	<link rel="stylesheet" href="index&content.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Xôi Phúc Kiến</title>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./bootstrap-4.3.1/bootstrap.min.js"></script>
	<script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
	<script src="./bootstrap-4.3.1/bootstrap-4.0.0.min.js"></script>
	<script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[href*='#backtotop']:not([href='#backtotop])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </script>
</head>
<body style="background-color: #eeeeee" id= "backtotop">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
			<div class="container">
				<a href="/home">
					<img src="images/cooky-black.png" style="width: 150px; height:auto;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/recommend">Giới thiệu<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/support">Trợ giúp</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/rules">Điều khoản</a>
						</li>
					</ul>
					<form id="search" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm món ăn..." aria-label="Search">
            			<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Tìm</button>
					</form>
					<!-- Button trigger modal -->
			        <%if(session.username){%>

		          	<div class="nav-item dropdown">
		            <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		              <img src="images/avt.jpg"  style="border-radius: 50%;width: 30px;">
		              <%=session.name%> </a>
		              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
		                <a class="dropdown-item" href="/logout">Đăng xuất</a>
		              </div>
		            </div>

		            <%} else {%>
		            <a class=" btn btn-light" href="/login">Đăng nhập</a>
		            <%}%>
				</div>
			</div>
		</nav>
	</header>
	<main role="main">
		<div class="container marketing">
			<br>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8">
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<img class="card-img-top" src="./images/carousel/carousel1.jpg">
										<div class="card-body">
											<h4 class="card-title" style="color: red;">Xôi Phúc Kiến</h4>
											<p class="card-text">Xôi Phúc Kiến được truyền lại từ người thân quê ở Phúc Kiến- Trung Quốc, món xôi mặn có mùi vị thơm ngon này rất thích hợp cho các buổi tiệc, hay họp mặt gia đình.</p>
											<div class="row">
												
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Nguyên liệu</b></h6>
													<h6 style="color: red;">09</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Thực hiện</b></h6>
													<h6 style="color: red;">01h45m</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Khẩu phần</b></h6>
													<h6 style="color: red;">04 người</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Độ khó</b></h6>
													<h6 style="color: red;">Trung bình</h6>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title"><b>Nguyên liệu làm xôi phúc kiến</b></h4><br>
											<div class="row" style="margin-left: 30px;color: #333;">
												
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left; ">
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Gạo nếp <small><a style="opacity: 0.6;">1 kg</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nấm mèo <small><a style="opacity: 0.6;">6 cái</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước tương <small><a style="opacity: 0.6;">7 muỗng cà phê</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Hành tím <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Muối <small><a style="opacity: 0.6;">1/2 muỗng canh</a></small></h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left;">
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Lạp xưởng <small><a style="opacity: 0.6;">2 cái</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Tôm khô <small><a style="opacity: 0.6;">200 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Dầu ăn <small><a style="opacity: 0.6;"> 4 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Đường trắng <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
												</div>
											</div><br>
											<h6 class="card-title"><b>Khẩu phần ăn: <a style="color: red;">04 người</a></b></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>

					<div class="card">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title text-center"><b>Cách làm xôi phúc kiến</b></h4><br>
											<div class="accordion" id="accordionExample">
												<div class="card">
													<div class="card-header" id="headingOne">
														<h2 class="mb-0">
															<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
																Bước 1:
															</button>
														</h2>
													</div>

													<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
														<div class="card-body">											
															<p>Nếp ngâm khoảng 4 tiếng, đổ ra rổ để cho ráo nước. Tôm khô rửa sạch rồi ngâm với nước ấm. Nấm mèo ngâm nước cho nở rồi thái sợi vừa. Lạp xưởng thái khoanh. </p>

														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="headingTwo">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																Bước 2:
															</button>
														</h2>
													</div>
													<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
														<div class="card-body">
															<p>Cho dầu ăn vào chảo mở lửa vừa để cho nóng rồi cho hành tím cắt nhỏ vào phi vàng, cho tôm khô + lạp xưởng + nấm mèo vào xào nhanh tay( để lửa lớn) rồi bỏ tất cả gia vị ( đường, muối, nước tương ) vào xào tiếp đến khi săn lại cho phần nhân vào thau nếp trộn đều.</p>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="headingThree">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																Bước 3:
															</button>
														</h2>
													</div>
													<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
														<div class="card-body">
															<p>Sau đó để vào xửng đã lót khăn mỏng hấp trong vòng 1h30' ( hấp bằng steamer nhanh hơn chỉ mất 1h). Khoảng 40p thì mở nấp xới đều rồi hấp tiếp cho đến khi xôi chín. nêm lại nếu chưa vừa ăn thì rưới thêm 1 mcanh nước tương + 1/2 mcafe đường vào trôn đều để thêm 10p nữa cho xôi thấm gia vị. Xôi chín xới ra dĩa, thưởng thức nhé.</p>
														</div>
													</div>
												</div>
											</div><br>
											<h6 class="card-title text-center"><b>Thời gian thực hiện: <a style="color: red;">01h45m</a></b></h6><br>
											<h4 class="card-title text-center"><b>Đánh giá: </b>
												<span>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
												</span> 											
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-12 col-sm-12 col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-img-top">
								<img src="./images/carousel/carousel.jpg" width="auto" height="auto" style="border-radius: 10px;">
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-header">
							<h6><b>ĐANG ĐƯỢC QUAN TÂM</b></h6>
						</div>
						<div class="card-body">
							<div class="row padding">
								<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
									<div class="card">
										<a href="carousel2.html" class="photo">
											<img class="card-img-top" src="./images/carousel/carousel2.jpg" >
										</a>
										<div class="card-body">
											<h9 class="card-title">
												<a href="carousel2.html">
													Chè Dừa Dẻo
												</a></h9>
												<p class="card-text"><small>25.000 lượt xem</small>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
											<div class="card">
												<a href="carousel3.html" class="photo">
													<img class="card-img-top" src="./images/carousel/carousel3.jpg" >
												</a>
												<div class="card-body">
													<h8 class="card-title">
														<a href="carousel3.html">
															Sữa Đậu Xanh
														</a></h8>
														<p class="card-text"><small>30.000 lượt xem</small>
														</div>
													</div>
												</div>
												<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
													<div class="card">
														<a href="carousel1.html" class="photo">
															<img class="card-img-top" src="./images/carousel/carousel1.jpg" >
														</a>
														<div class="card-body">
															<h8 class="card-title">
																<a href="carousel1.html">
																	Xôi Phúc Kiến
																</a></h8>
																<p class="card-text"><small>35.000 lượt xem</small>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div><br>
											<div class="card">
												<div class="card-header text-center">
													<h6><b>BÌNH LUẬN</b></h6>
												</div>
												<div class="card-body">
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon1.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Một người cuồng ăn như mình thì chắc chắn không bao giờ bỏ qua món này rồi. Tốt quá cảm ơn page nha cho 5* 😍😍😍</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon2.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Ăn uống là phụ ngắm ảnh là chính 😋😋</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon3.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p> Nhìn trông ngon quá mà không biết mình có nấu được như vậy không 😅😅😅</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/avt.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<form class="form-inline">
																<input id="search2" class="form-control mr-sm-2" type="search" placeholder="Viết phản hồi..." aria-label="Search">
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
<br>

<div>
  <a href="#backtotop"><i class="fas fa-angle-double-up" style="font-size: 35px;color: #555;margin-left: 90%; "></i></a>
</div>
<hr id = "phienhoidap" class="featurette-divider">
								</div>
<!-- Modal Đăng nhập -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="images/cooky.png" style="width: 100px; height:auto;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <!-- Đăng nhập -->
              <div id="login">
              <form>
                <div class="form-group">
                  <label for="LoginName">Tên đăng nhập:</label>
                  <input type="text" class="form-control" id="LoginName" aria-describedby="UserNameHelp" placeholder="Nhập....">
                  <small id="UserNameHelp" class="form-text text-muted">Bạn có thể nhập email đã đăng ký thay cho tên đăng nhập.
                  </small>
                  <label for="Password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="Password" placeholder="Nhập...">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Check">
                    <label class="form-check-label" for="Check">Ghi nhớ tôi!</label>
                  </div><br>
                  
                  <button type="button" class="btn btn-outline-success btn-block round-button"><h5>Đăng nhập</h5></button><br>
                  <div class="border-top pt-3">
                  <!-- <div class="text-center"><h5>Hoặc đăng nhập bằng</h5></div>
                  <button type="button" class="btn btn-outline-primary btn-block round-button"><h5>Facebook</h5></button>
                  <button type="button" class="btn btn-outline-danger btn-block round-button"><h5>Google</h5></button>
                  </div> -->
                  <div class="text-center"><h5>Bạn chưa có tài khoản ?</h5></div>
                  <button type="button" class="btn btn-outline-success btn-block round-button" onclick="window.location.href='register.html'"><h5>Đăng ký ngay</h5></button>
                  </div>
                </div>
              </form>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
							</main>
							<footer id="footer">
								<ul style="padding: 15px; margin-bottom: 0px;">
									<h3 style="padding-bottom: 0px;text-decoration: none;">Ăn ngon cùng Cooky</h3>

									<p style="font-size: 14px"> @2019 design by Team 5</p>
								</ul>
							</footer>
						</body>
						</html>