<div></div><!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
	<link rel="stylesheet" href="index&content.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Chè Dừa Dẻo</title>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./bootstrap-4.3.1/bootstrap.min.js"></script>
	<script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
	<script src="./bootstrap-4.3.1/bootstrap-4.0.0.min.js"></script>
	<script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
      $("a[href*='#backtotop']:not([href='#backtotop])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </script>
</head>
<body style="background-color: #eeeeee">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
			<div class="container">
				<a href="/home">
					<img src="images/cooky-black.png" style="width: 150px; height:auto;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/recommend">Giới thiệu<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/support">Trợ giúp</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/rules">Điều khoản</a>
						</li>
					</ul>
					<form id="search" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm nhanh..." aria-label="Search">
            			<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Tìm</button>
					</form>
					<!-- Button trigger modal -->
			          <%if(session.username){%>

		          	<div class="nav-item dropdown">
		            <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		              <img src="images/avt.jpg"  style="border-radius: 50%;width: 30px;">
		              <%=session.name%> </a>
		              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
		                <a class="dropdown-item" href="/logout">Đăng xuất</a>
		              </div>
		            </div>

		            <%} else {%>
		            <a class=" btn btn-light" href="/login">Đăng nhập</a>
		            <%}%>
				</div>
			</div>
		</nav>
	</header>
	<main role="main">
		<div class="container marketing">
			<br>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8">
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<img class="card-img-top" src="./images/carousel/carousel2.jpg">
										<div class="card-body">
											<h4 class="card-title" style="color: red;">Chè Dừa Dẻo</h4>
											<p class="card-text">Chè dừa non hay chè dừa dẻo là một trong những món chè gây nghiện nhất thời gian gần đây, được thêm với trân châu bắp nữ hoàng mới lạ trong suốt như những viên pha lê, cùng với thạch rau câu bắp nữ hoàng béo thơm đảm bảo có một không hai.</p>
											<div class="row">
												
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Nguyên liệu</b></h6>
													<h6 style="color: red;">16</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Thực hiện</b></h6>
													<h6 style="color: red;">01h15m</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Khẩu phần</b></h6>
													<h6 style="color: red;">06 người</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Độ khó</b></h6>
													<h6 style="color: red;">Dễ</h6>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title"><b>Nguyên liệu làm chè dừa dẻo</b></h4><br>
											<div class="row" style="margin-left: 30px;color: #333;">
												
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left; ">
													<small style="color: #ff6600"><b><p>Trân châu bắp nữ hoàng</p></b></small>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Bắp nữ hoàng <small><a style="opacity: 0.6;">1 trái</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Đường trắng <small><a style="opacity: 0.6;">4 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Bột năng <small><a style="opacity: 0.6;">300 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon>  Muối <small><a style="opacity: 0.6;">1/2 muỗng cà phê</a></small></h6><br>

													<small style="color: #ff6600"><b><p>Thạch bắp nữ hoàng</p></b></small>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Bắp nữ hoàng <small><a style="opacity: 0.6;">200 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước cốt dừa <small><a style="opacity: 0.6;">150 ml</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Đường trắng <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Sữa đặc <small><a style="opacity: 0.6;">150 gr</a></small></h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left;">
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Bột rau câu dẻo <small><a style="opacity: 0.6;">5 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước dừa <small><a style="opacity: 0.6;">400 ml</a></small></h6><br>

													<small style="color: #ff6600"><b><p>Chè dừa dẻo và thành phần khác</p></b></small>	
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước cốt dừa  <small><a style="opacity: 0.6;"> 4 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Đường trắng <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Cơm dừa non <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước dừa <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Mít <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Bột năng <small><a style="opacity: 0.6;">1 muỗng canh</a></small></h6>
												</div>
											</div><br>
											<h6 class="card-title"><b>Khẩu phần ăn: <a style="color: red;">06 người</a></b></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>


					<div class="card">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title  text-center"><b>Cách làm chè dừa dẻo</b></h4><br>
											<div class="accordion" id="accordionExample">
												<div class="card">
													<div class="card-header" id="heading1">
														<h2 class="mb-0">
															<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
																Bước 1:
															</button>
														</h2>
													</div>

													<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																
																<p>Bắp nữ hoàng lột sạch vỏ và râu, tách thành những hạt rời.</p>
																
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.1.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.1.2.jpg" style="display: inline;">
																</a>																			
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading2">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
																Bước 2:
															</button>
														</h2>
													</div>
													<div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Làm trân châu bắp nữ hoàng: chuẩn bị 300gr bột năng, thêm vào đó 1 muỗng canh đường và 1/2 muỗng cà phê muối rồi trộn đều. Rót từ từ 100ml nước sôi vào tô bột rồi dùng muỗng gỗ trộn đều, sau đó dùng tay nhào bột thành một khối mịn.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.2.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.2.2.jpg" style="display: inline;">
																</a>										
																<a class="step-images">
																	<img src="images/carousel/carousel2.2.3.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.2.4.jpg" style="display: inline;">
																</a>															
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading3">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
																Bước 3:
															</button>
														</h2>
													</div>
													<div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Rứt một cục bột cỡ đầu ngón tay, vo tròn rồi ấn dẹt, cho hạt bắp vào giữa rồi gói lại, vo tròn lần nữa là được. Làm lần lượt cho đến khi hết số bột. Đun sôi 1 nồi nước, cho vào vài nhánh lá dứa để tăng mùi thơm. Đổ trân châu vào luộc lửa lớn đến khi trân châu nổi lên thì hạ nhỏ lửa xuống, luộc tiếp 5 phút nữa là được.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.3.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.3.2.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.3.3.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.3.4.jpg" style="display: inline;">
																</a>										
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading4">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
																Bước 4:
															</button>
														</h2>
													</div>
													<div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Vớt trân châu ra cho vào tô, rắc thêm 2 muỗng canh đường vào rồi trộn đều để trân châu có vị ngọt và không bị dính vào nhau. Để trân châu ở nhiệt độ thường đến khi dùng.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.4.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.4.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.4.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.4.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading5">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
																Bước 5:
															</button>
														</h2>
													</div>
													<div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Làm thạch bắp nữ hoàng: chuẩn bị cối xay sinh tố, cho vào đây 200gr hạt bắp nữ hoàng, 150gr sữa đặc và 150ml nước cốt dừa, xay lên cho hỗn hợp hòa quyện.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.5.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.5.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.5.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.5.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading6">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
																Bước 6:
															</button>
														</h2>
													</div>
													<div id="collapse6" class="collapse show" aria-labelledby="heading6" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Trong 1 chiếc chén nhỏ, trộn 5gr bột rau câu dẻo với 1 muỗng canh đường. Đun sôi 400ml nước dừa tươi, đổ bột rau câu và đường vào nồi, vừa đổ vừa khuấy đều cho hòa quyện. Tiếp theo tắt bếp, cho hỗn hợp sinh tố bắp vào nồi, khuấy đều lên. Đổ hỗn hợp thạch rau câu ra khuôn, để nguội rồi làm lạnh cho thạch rau câu đông lại. Cắt thạch ra thành những miếng nhỏ vừa ăn.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.6.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.6.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.6.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.6.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading7">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
																Bước 7:
															</button>
														</h2>
													</div>
													<div id="collapse7" class="collapse show" aria-labelledby="heading7" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Nấu chè dừa dẻo: chuẩn bị 1 chiếc nồi, cho vào đây 500ml nước cốt dừa, 500ml nước dừa tươi và 400gr đường rồi khuấy đều. Cho vào vài nhánh lá dứa để chè có mùi thơm rồi đun sôi. Pha loãng 30gr bột năng cùng với 30ml nước lọc, rót từ từ hỗn hợp bột năng vào nồi chè rồi khuấy đều cho nước chè sánh dẻo lại thì tắt bếp.8</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.7.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.7.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.7.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.7.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading8">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
																Bước 8:
															</button>
														</h2>
													</div>
													<div id="collapse8" class="collapse show" aria-labelledby="heading8" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Khi ăn chuẩn bị thêm đá bào, cơm dừa tươi và mít để món chè thêm đa dạng và hấp dẫn hơn. Cho đá bào ra chén, chế nước chè dừa dẻo vào, thêm các loại topping vừa chuẩn bị rồi thưởng thức thôi.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.8.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.8.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.8.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.8.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading9">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse4">
																Bước 9:
															</button>
														</h2>
													</div>
													<div id="collapse9" class="collapse show" aria-labelledby="heading9" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Vớt trân châu ra cho vào tô, rắc thêm 2 muỗng canh đường vào rồi trộn đều để trân châu có vị ngọt và không bị dính vào nhau. Để trân châu ở nhiệt độ thường đến khi dùng.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel2.9.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel2.9.2.jpg" style="display: inline;">
																</a>	
																<a class="step-images">
																	<img src="images/carousel/carousel2.9.3.jpg" style="display: inline;">
																</a>				
																<a class="step-images">
																	<img src="images/carousel/carousel2.9.4.jpg" style="display: inline;">
																</a>				
															</div>
														</div>
													</div>
												</div>
											</div><br>
											<h6 class="card-title text-center"><b>Thời gian thực hiện: <a style="color: red;">01h15m</a></b></h6><br>
											<h4 class="card-title text-center"><b>Đánh giá: </b>
												<span>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
												</span> 											
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-12 col-sm-12 col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-img-top">
								<img src="./images/carousel/carousel.jpg" width="auto" height="auto" style="border-radius: 10px;">
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-header">
							<h6><b>ĐANG ĐƯỢC QUAN TÂM</b></h6>
						</div>
						<div class="card-body">
							<div class="row padding">
								<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
									<div class="card">
										<a href="carousel3.html" class="photo">
											<img class="card-img-top" src="./images/carousel/carousel3.jpg" >
										</a>
										<div class="card-body">
											<h8 class="card-title">
												<a href="carousel3.html">
													Sữa Đậu Xanh
												</a></h8>
												<p class="card-text"><small>30.000 lượt xem</small>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
											<div class="card">
												<a href="carousel1.html" class="photo">
													<img class="card-img-top" src="./images/carousel/carousel1.jpg" >
												</a>
												<div class="card-body">
													<h8 class="card-title">
														<a href="carousel1.html">
															Xôi Phúc Kiến
														</a></h8>
														<p class="card-text"><small>35.000 lượt xem</small>
														</div>
													</div>
												</div>
												<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
													<div class="card">
														<a href="carousel2.html" class="photo">
															<img class="card-img-top" src="./images/carousel/carousel2.jpg" >
														</a>
														<div class="card-body">
															<h9 class="card-title">
																<a href="carousel2.html">
																	Chè Dừa Dẻo
																</a></h9>
																<p class="card-text"><small>25.000 lượt xem</small>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div><br>
											<div class="card">
												<div class="card-header text-center">
													<h6><b>BÌNH LUẬN</b></h6>
												</div>
												<div class="card-body">
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon1.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Một người cuồng ăn như mình thì chắc chắn không bao giờ bỏ qua món này rồi. Tốt quá cảm ơn page nha cho 5* 😍😍😍</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon2.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Ăn uống là phụ ngắm ảnh là chính 😋😋</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon3.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p> Nhìn trông ngon quá mà không biết mình có nấu được như vậy không 😅😅😅</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/avt.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<form class="form-inline">
																<input id="search2" class="form-control mr-sm-2" type="search" placeholder="Viết phản hồi..." aria-label="Search">
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
								</div>
								<!-- Modal Đăng nhập -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="images/cooky.png" style="width: 100px; height:auto;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <!-- Đăng nhập -->
              <div id="login">
              <form>
                <div class="form-group">
                  <label for="LoginName">Tên đăng nhập:</label>
                  <input type="text" class="form-control" id="LoginName" aria-describedby="UserNameHelp" placeholder="Nhập....">
                  <small id="UserNameHelp" class="form-text text-muted">Bạn có thể nhập email đã đăng ký thay cho tên đăng nhập.
                  </small>
                  <label for="Password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="Password" placeholder="Nhập...">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Check">
                    <label class="form-check-label" for="Check">Ghi nhớ tôi!</label>
                  </div><br>
                  
                  <button type="button" class="btn btn-outline-success btn-block round-button"><h5>Đăng nhập</h5></button><br>
                  <div class="border-top pt-3">
                  <!-- <div class="text-center"><h5>Hoặc đăng nhập bằng</h5></div>
                  <button type="button" class="btn btn-outline-primary btn-block round-button"><h5>Facebook</h5></button>
                  <button type="button" class="btn btn-outline-danger btn-block round-button"><h5>Google</h5></button>
                  </div> -->
                  <div class="text-center"><h5>Bạn chưa có tài khoản ?</h5></div>
                  <button type="button" class="btn btn-outline-success btn-block round-button" onclick="window.location.href='register.html'"><h5>Đăng ký ngay</h5></button>
                  </div>
                </div>
              </form>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
							</main>
							<footer id="footer">
								<ul style="padding: 15px; margin-bottom: 0px;">
									<h3 style="padding-bottom: 0px;text-decoration: none;">Ăn ngon cùng Cooky</h3>

									<p style="font-size: 14px"> @2019 design by Team 5</p>
								</ul>
							</footer>
						</body>
						</html>