<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="index&content.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Giới thiệu</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->

<body>
  <main>
    <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h3>CHÀO MỪNG BẠN ĐẾN VỚI COOKY</h3>
                    <hr id = "sp" class="star-primary">
                </div>
            </div><br>
              <div class="row" >
                <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8">

                    <b><h4>Giới thiệu</h4></b>
                    <a class="linkNormal" href="index.html" target="_blank">Cooky</a> được tạo nên với mong muốn có thể giúp cho người nội trợ sẽ dễ dàng hơn trong việc nấu ăn hàng ngày của mình. Từ công việc chuẩn bị các nguyên liệu, phải chọn món ăn hàng ngày hoặc lựa chọn những thiết bị dùng bếp sẽ trở nên dễ dàng hơn.
                    <br><br>
                    <h2 style="text-align: center;color: #ff6600;">NẤU ĂN + CHIA SẺ = NIỀM VUI</h2>
                    <br><br>

                    <b><h4>Tìm kiếm công thức dễ dàng hơn</h4></b>
                    Bạn có thể tìm kiếm công thức các món ăn ưa thích một cách nhanh chóng hơn với công cụ tìm kiếm của Cooky.<br>
                    <svg height="30" class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="30" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Theo tên<br>
                    <svg height="30" class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="30" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Theo nguyên liệu<br>
                    <svg height="30" class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="30" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Theo mục đích<br>
                    <svg height="30" class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="30" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Theo chế độ dinh dưỡng
                    <br><br>
                    
                    <b><h4>Nấu một món ngon dễ dàng hơn</h4></b>
                    Cooky sẽ cố gắng từng ngày một với mong muốn tạo ra một sản phẩm có thể giúp cho những đầu bếp bình thường nhất nấu được một món ăn ngon nhất.<br>

                    Chúng tôi chắc chắn rằng bạn sẽ cảm thấy rất vui khi được tự tay nấu cho một ai đó thưởng thức. Và cảm nhận thành quả của mình đã làm ra.
                    <br><br>

                    <b><h4>Cùng đam mê nấu nướng</h4></b>
                    Cùng một đam mê nấu nướng và ăn uống. Bạn có thể tìm thấy những người cùng sở thích cùng đam mê, kết nối & và chia sẻ kinh nghiệm cho nhau. Mong muốn có thể tạo được một sân chơi thật sự cho người đam mê ẩm thực, đam mê nấu nướng.

                    <br><br>
                    <a href="index.html" style="float: right;">Quay lại trang chủ</a>
                    <br><br><br>
                  </div>
                </div>
                    
    </div>
  </main>
</body>
</html>