<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
  <link rel="stylesheet" href="index&content.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Trang chủ</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[href*='#backtotop']:not([href='#backtotop])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </script>
</head>
<body style="background-color: #eeeeee" id = "backtotop">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
      <div class="container">
        <a href="/home">
          <img src="images/cooky-black.png" style="width: 150px; height:auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="margin-left: 5%;" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="recommend.html">Giới thiệu<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="support.html">Trợ giúp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rules.html">Điều khoản</a>
            </li>
          </ul>
          <form id="search" class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm món ăn..." aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 " type="submit">Tìm</button>
          </form>
          <!-- <button type="button" class="btn btn-light" onclick="window.location.href='signin.html'">Đăng nhập</button> -->
          
          <!-- Button trigger modal -->
          <%if(session.username){%>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <img src="images/avt.jpg"  style="border-radius: 50%;width: 30px;">
              <%=session.name%> </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
              </div>
            </div>

            <%} else {%>
            <a class=" btn btn-light" href="/login">Đăng nhập</a>
            <%}%>

          </div>
        </nav>
      </header>
    <div class="container marketing">
      <div class="row">
          <div class="accordion" id="accordionE">
    <p><div class="row padding">
     <div class="col-4 col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <a data-toggle="collapse" href="#nh2" id="h2" class="photo">
            <img class="card-img-top" src="./images/nhahang/nh2.png" >
          </a><br><br>
          <a data-toggle="collapse" href="#nh2" id="h2" style="color: black;">
            Nhà Hàng Lưu Trang
          </a>
        </div>
      </div>
    </div>   

    <div class="col-4 col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <a data-toggle="collapse" href="#nh3" id="h3" class="photo">
            <img class="card-img-top" src="./images/nhahang/nh3.jpg" >
          </a><br><br>
          <a data-toggle="collapse" href="#nh3" id="h3" style="color: black;">
            Quán Bò Ok Ok
          </a>
        </div>
      </div>
    </div>   

    <div class="col-4 col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <a data-toggle="collapse" href="#nh4" class="photo">
            <img class="card-img-top" src="./images/nhahang/nh4.jpg" >
          </a><br><br>
          <a data-toggle="collapse" href="#nh4" style="color: black;">
            Nhà Hàng Gia Viên 
          </a>
        </div>
      </div>
    </div>   
  </div></p>
  <div class="collapse" id="nh2" aria-labelledby="h2" data-parent="#accordionE">
    <div class="card card-body">
      <h4>Nhà hàng Lưu Gia Trang <a style="color: red;">NGON</a> cực phẩm.</h4>
      <p style="padding-left: 10px;opacity: 0.6;">Ngõ 53, Đường Ngọc Thụy - Quận Long Biên - Hà Nội</p>
      <p>Nằm ngay trung tâm thủ Đô Hà Nội, cạnh cây cầu cổ Long Biên, nhà hàng Lưu Gia Trang được bao phủ bởi một lớp cây cối xanh tươi bên bờ sông Hồng lộng gió mang đến cho thực khách những trải nghiệm chẳng thể nào quên. Không chỉ có món ăn ngon, thái độ phục vụ chuyên nghiệp mà nhà hàng Lưu Gia Trang còn hứa hẹn đem lại cho bạn những thú vị, bất ngờ.</p>
      <p>
        <h6>THỰC ĐƠN</h6>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Gà sao <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Gà sao hấp muối  <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Baba rang muối   <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Hải sản tươi sống<br>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Lẩu vang đặc biệt <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Lẩu chua cay <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Chim <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Xôi chim <br>
          </div>
        </div>
      </p>
    </div>
  </div>
  <div class="collapse" id="nh3" aria-labelledby="h3" data-parent="#accordionE">
    <div class="card card-body">
      <h4>Quán bò Ok</h4>
      <p style="padding-left: 10px;opacity: 0.6;">103-C9 Tô Hiệu, Cầu Giấy - Quận Cầu Giấy - Hà Nội</p>
      <p>Tọa lạc trên con phố Tô Hiệu sầm uất, quán Bò Ok gây ấn tượng đầu tiên có lẽ chính là gam màu cam nổi bật, dễ nhận biết khi bạn bắt đầu vào con phố Tô Hiệu. Món ăn của quán cũng khá độc đáo và hấp dẫn với sự kết hợp giữa món Tây và món Việt.</p>
      <p>
        <h6>THỰC ĐƠN</h6>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Bít Tết OK <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Bít Tết Âu  <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Bò Sốt Vang   <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Cari Bò<br>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Mỳ Ý <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Phở Xào Bắp Bò <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Bò Nhúng Dấm <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Lẩu Đuôi Bò <br>
          </div>
        </div>
      </p>
    </div>
  </div>
  <div class="collapse" id="nh4" aria-labelledby="h4" data-parent="#accordionE">
    <div class="card card-body">
      <h4>Nhà hàng Gia Viên - Địa chỉ ẩm thực độc đáo đất Hà Thành</h4>
      <p style="padding-left: 10px;opacity: 0.6;">228 Bà Triệu - Quận Hoàn Kiếm - Hà Nội</p>
      <p>Tọa lạc trên con phố sầm uất nhất thủ đô Hà Nội, nhà hàng Gia Viên 228 Bà Triệu, với không gian sang trọng hiên đại và ấm cúng cùng hệ thống thực đơn đa dạng gồm hơn 300 món ăn kết hợp hài hoà giữa ẩm thực truyền thống Việt Nam và các món ngon của ẩm thực Châu Á hiện đại. Tới đây thực khách sẽ được đón tiếp bởi đội ngũ nhân viên chuyên nghiệp, lịch sự và thân thiện nhất.</p>
      <p>
        <h6>THỰC ĐƠN</h6>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Mực tươi xào gừng hành <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Gỏi cuốn tôm thịt  <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Ốc móng tay nướng mỡ hành   <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Cá chép om xả<br>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;color: red;"></i> Cua Alaska nướng muối ớt <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Bò Kobe <br>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 15px; color: red;"></i> Cá hồi tươi sống <br>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
      </div>
    </div>
