<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="index&content.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Hỗ trợ</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->

<body>
  <main>
    <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h3>HƯỚNG DẪN SỬ DỤNG TRANG WEB COOKY</h3>
                    <hr id = "sp" class="star-primary">
                </div>
            </div><br>
              <div class="row" >
                <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8">

                    <b><h4>Giới thiệu</h4></b>
                    <a class="linkNormal" href="index.html" target="_blank">Cooky</a> được tạo nên với mong muốn có thể giúp cho người nội trợ sẽ dễ dàng hơn trong việc nấu ăn hàng ngày của mình. Từ công việc chuẩn bị các nguyên liệu, phải chọn món ăn hàng ngày hoặc lựa chọn những thiết bị dùng bếp sẽ trở nên dễ dàng hơn.
                    <br><br>
                    <h2 style="text-align: center;color: #ff6600;">COOKY - HÃY NẤU THEO CÁCH CỦA BẠN</h2>
                    <br><br>

                    <b><h4>Hướng dẫn sử dụng</h4></b>
                    - Để sử dụng trang web thì người dùng cần phải đăng nhập hoặc đăng ký nếu chưa có tài khoản. Ngoài ra trang web còn hỗ trợ đăng nhập bằng Facebook hoặc tài khoản Google thuận tiện cho người sử dụng.<br>
                    - Với lần đầu đăng nhập hệ thống, người dùng có thể cung cấp các thông tin cá nhân cơ bản như Họ và tên, địa chỉ email...<br>
                    - Tại trang chủ của trang web là thông tin về các món ăn nổi bật, các bài viết nổi bật và 1 tấm phông nổi lên như 1 background của trang web sẽ cung cấp thông tin hot nhất.<br>
                    - Tại giao diện trang chủ, bạn có thể chọn món ăn mà bạn thích, click vào nút "Hướng dẫn thực hiện", chúng tôi sẽ mở ra cho bạn mọi thứ từ công thức thực hiện, hướng dẫn nấu ăn, nguyên liệu, thời gian thực hiện, ... <br>
                    - Ngoài ra tại trang chủ có cung cấp thông tin về các bài viết nổi bật, bạn có thể chọn 1 bài viết mà bạn quan tâm đến.
                    <br><br>

                    <b><h4>Lời kết</h4></b>
                    Do Cooky (nhóm 05) là hệ thống Web đang trong quá trình phát triển nên không thể tránh được lỗi và thiếu xót. Trong quá trình sử dụng, nếu người dùng có bất kì góp ý nào về hệ thống này, vui lòng gửi lời nhắn vào địa chỉ email 
                    <a class="linkNormal" href="https://gmail.com" target="_blank">nhom05@gmail.com
                    </a>. Rất mong nhận được sự góp ý phản hồi của tất cả người dùng...
                    <br><br>

                    Cảm ơn vì đã sử dụng trang Web của chúng tôi!

                    <br><br>
                    <a href="/home" style="float: right;">Quay lại trang chủ</a>
                    <br><br><br>
                  </div>
                </div>
                    
    </div>
  </main>
</body>
</html>