<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
	<link rel="stylesheet" href="index&content.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Sữa Đậu Xanh</title>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./bootstrap-4.3.1/bootstrap.min.js"></script>
	<script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
	<script src="./bootstrap-4.3.1/bootstrap-4.0.0.min.js"></script>
	<script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body style="background-color: #eeeeee">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
			<div class="container">
				<a href="index.html">
					<img src="images/cooky-black.png" style="width: 150px; height:auto;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="recommend.html">Giới thiệu<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="support.html">Trợ giúp</a>
						</li>
					</ul>
					<form id="search" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm món ăn..." aria-label="Search">
            			<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Tìm</button>
					</form>
					<!-- Button trigger modal -->
			          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#LoginModal"> 
			            Đăng nhập
			          </button>
				</div>
			</div>
		</nav>
	</header>
	<main role="main">
		<div class="container marketing">
			<br>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 ">
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<img class="card-img-top" src="./images/carousel/carousel3.jpg">
										<div class="card-body">
											<h4 class="card-title" style="color: red;">Sữa Đậu Xanh Lá Dứa</h4>
											<p class="card-text">Với những nguyên liệu đơn giản, bạn hoàn toàn có thể vào bếp trổ tài món sữa đậu xanh lá dứa đầy dinh dưỡng này cho cả gia đình thưởng thức vào ngày mỗi ngày. Dưới đây là công thức làm sữa đậu xanh lá dứa thơm ngon, mát lành, tốt cho sức khỏe và vô cùng đơn giản.</p>
											<div class="row">
												
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Nguyên liệu</b></h6>
													<h6 style="color: red;">04</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Thực hiện</b></h6>
													<h6 style="color: red;">45m</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Khẩu phần</b></h6>
													<h6 style="color: red;">04 người</h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-3">
													<h6><b>Độ khó</b></h6>
													<h6 style="color: red;">Dễ</h6>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title"><b>Nguyên liệu làm sữa đậu xanh lá dứa</b></h4><br>
											<div class="row" style="margin-left: 30px;color: #333;">
												
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left; ">
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Đậu xanh không vỏ  <small><a style="opacity: 0.6;">400 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Sữa đặc <small><a style="opacity: 0.6;">400 gr</a></small></h6>	
												</div>
												<div class="col-6 col-sm-6 col-md-6" style="text-align: left;">
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon>  Lá dứa <small><a style="opacity: 0.6;">200 gr</a></small></h6>
													<h6><ion-icon name="add-circle" class="icon-add"></ion-icon> Nước cốt dừa  <small><a style="opacity: 0.6;">400 ml</a></small></h6><br>
												</div>
											</div><br>
											<h6 class="card-title"><b>Khẩu phần ăn: <a style="color: red;">04 người</a></b></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>


					<div class="card">
						<div class="card-body">
							<div class="row padding">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title  text-center"><b>Cách làm sữa đậu xanh lá dứa</b></h4><br>
											<div class="accordion" id="accordionExample">
												<div class="card">
													<div class="card-header" id="heading1">
														<h2 class="mb-0">
															<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
																Bước 1:
															</button>
														</h2>
													</div>

													<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																
																<p>Rửa 400gr đậu xanh qua vài lần với nước để làm sạch đậu. Ngâm đậu xanh 5 tiếng trong một tô nước sạch ngâm đậu với nước pha thêm chút muối, bắt nồi lên bếp bạn cho đậu xanh và nước lọc khoảng 500ml vào nấu khi đậu mềm.</p>
																
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel3.1.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel3.1.2.jpg" style="display: inline;">
																</a>																			
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading2">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
																Bước 2:
															</button>
														</h2>
													</div>
													<div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Cho đậu xanh đã nấu chín vào máy xay sinh tố, cho thêm nước vào 1/3 nữa rồi xay nhuyễn. Cho đậu xay ra rây để lọc lấy nước đậu mịn nhuyễn và bỏ phần bã đậu. Lá dứa bạn lấy 200gr rửa sạch cắt gốc rồi bỏ vào máy xay sinh tố, cũng cho 1/3 nước lọc vào xay nhuyễn, lọc nước cốt lá dứa qua rây bỏ phần bã.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel3.2.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel3.2.2.jpg" style="display: inline;">
																</a>										
																<a class="step-images">
																	<img src="images/carousel/carousel3.2.3.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel3.2.4.jpg" style="display: inline;">
																</a>															
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading3">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
																Bước 3:
															</button>
														</h2>
													</div>
													<div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Cho đậu xanh đã lọc qua rây mịn vào nồi, cho thêm nước cốt lá dứa đã lọc, 400ml nước cốt dừa và 400gr sữa đặc rồi bắc lên bếp, bạn vừa đun vừa khuấy đều để sữa không bị cháy dưới nồi. Đun sữa trong 15 phút, bạn có thể thay đổi lượng ngọt cho vừa khẩu vị. Sau đó, bạn nhấc nồi ra khỏi bếp dùng liền sữa khi nóng hoặc đợi nguội rồi cho thêm đá dùng lạnh theo sở thích. Nếu không dùng hết ngay sữa bạn nhớ cho sữa vào bình thủy tinh, bảo quản trong tủ lạnh dùng dần trong 1 tuần.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel3.3.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel3.3.2.jpg" style="display: inline;">
																</a>										
															</div>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="heading4">
														<h2 class="mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
																Bước 4:
															</button>
														</h2>
													</div>
													<div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
														<div class="card-body">
															<div class="step-derc">
																<p>Sữa đậu xanh lá dứa là một thức uống rất thơm ngon và bổ dưỡng cho sức khỏe, vô cùng dễ uống và phù hợp với tất cả mọi người. Đặc biệt trong sữa có vị thơm bùi của đậu xanh kết hợp với hương thơm lá dứa và vị béo ngậy của nước cốt dừa, hứa hẹn trở thành một món sữa hoàn hảo cho bất kỳ thời tiết mưa lạnh hoặc giải nhiệt mùa nóng bức.</p>
															</div>
															<div class="step-photo">
																<a class="step-images">
																	<img src="images/carousel/carousel3.4.1.jpg" style="display: inline;">
																</a>
																<a class="step-images">
																	<img src="images/carousel/carousel3.4.2.jpg" style="display: inline;">
																</a>		
															</div>
														</div>
													</div>
												</div>
												
											</div><br>
											<h6 class="card-title text-center"><b>Thời gian thực hiện: <a style="color: red;">45m</a></b></h6><br>
											<h4 class="card-title text-center"><b>Đánh giá: </b>
												<span>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
													<a href="#" class="fa-star-o fa" style="color: orange;font-size: 25px;"></a>
												</span> 											
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-12 col-sm-12 col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-img-top">
								<img src="./images/carousel/carousel.jpg" width="auto" height="auto" style="border-radius: 10px;">
							</div>
						</div>
					</div><br>
					<div class="card text-center">
						<div class="card-header">
							<h6><b>ĐANG ĐƯỢC QUAN TÂM</b></h6>
						</div>
						<div class="card-body">
							<div class="row padding">
								<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
									<div class="card">
										<a href="carousel1.html" class="photo">
											<img class="card-img-top" src="./images/carousel/carousel1.jpg" >
										</a>
										<div class="card-body">
											<h8 class="card-title">
												<a href="carousel1.html">
													Xôi Phúc Kiến
												</a></h8>
												<p class="card-text"><small>35.000 lượt xem</small>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
											<div class="card">
												<a href="carousel2.html" class="photo">
													<img class="card-img-top" src="./images/carousel/carousel2.jpg" >
												</a>
												<div class="card-body">
													<h9 class="card-title">
														<a href="carousel2.html">
															Chè Dừa Dẻo
														</a></h9>
														<p class="card-text"><small>25.000 lượt xem</small>
														</div>
													</div>
												</div>
												<div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
													<div class="card">
														<a href="carousel3.html" class="photo">
															<img class="card-img-top" src="./images/carousel/carousel3.jpg" >
														</a>
														<div class="card-body">
															<h8 class="card-title">
																<a href="carousel3.html">
																	Sữa Đậu Xanh
																</a></h8>
																<p class="card-text"><small>30.000 lượt xem</small>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div><br>
											<div class="card">
												<div class="card-header text-center">
													<h6><b>BÌNH LUẬN</b></h6>
												</div>
												<div class="card-body">
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon1.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Một người cuồng ăn như mình thì chắc chắn không bao giờ bỏ qua món này rồi. Tốt quá cảm ơn page nha cho 5* 😍😍😍</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon2.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p>Ăn uống là phụ ngắm ảnh là chính 😋😋</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/icon/icon3.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<p> Nhìn trông ngon quá mà không biết mình có nấu được như vậy không 😅😅😅</p>
														</div>
													</div>
													<div class="row padding">
														<div class="col-2 col-sm-2 col-md-2">
															<div class="card-img-top" style="width: 35px;">
																<img src="./images/avt.jpg" style="float: left;border-radius: 15px;">
															</div>
														</div>
														<div id="user" class="col-10 col-sm-10 col-md-10 ">  
															<form class="form-inline">
																<input id="search2" class="form-control mr-sm-2" type="search" placeholder="Viết phản hồi..." aria-label="Search">
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
								</div>
								<!-- Modal Đăng nhập -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="images/cooky.png" style="width: 100px; height:auto;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <!-- Đăng nhập -->
              <div id="login">
              <form>
                <div class="form-group">
                  <label for="LoginName">Tên đăng nhập:</label>
                  <input type="text" class="form-control" id="LoginName" aria-describedby="UserNameHelp" placeholder="Nhập....">
                  <small id="UserNameHelp" class="form-text text-muted">Bạn có thể nhập email đã đăng ký thay cho tên đăng nhập.
                  </small>
                  <label for="Password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="Password" placeholder="Nhập...">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Check">
                    <label class="form-check-label" for="Check">Ghi nhớ tôi!</label>
                  </div><br>
                  
                  <button type="button" class="btn btn-outline-success btn-block round-button"><h5>Đăng nhập</h5></button><br>
                  <div class="border-top pt-3">
                  <!-- <div class="text-center"><h5>Hoặc đăng nhập bằng</h5></div>
                  <button type="button" class="btn btn-outline-primary btn-block round-button"><h5>Facebook</h5></button>
                  <button type="button" class="btn btn-outline-danger btn-block round-button"><h5>Google</h5></button>
                  </div> -->
                  <div class="text-center"><h5>Bạn chưa có tài khoản ?</h5></div>
                  <button type="button" class="btn btn-outline-success btn-block round-button" onclick="window.location.href='register.html'"><h5>Đăng ký ngay</h5></button>
                  </div>
                </div>
              </form>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
							</main>
							<footer id="footer">
								<ul style="padding: 15px; margin-bottom: 0px;">
									<h3 style="padding-bottom: 0px;text-decoration: none;">Ăn ngon cùng Cooky</h3>

									<p style="font-size: 14px"> @2019 design by Team 5</p>
								</ul>
							</footer>
						</body>
						</html>